
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

body{
    background-color: #eeeeee;
    min-width: 380px;
}


.subtopic{
    margin : 20px;
}

.heading{
    text-align: center;
    padding: 20px 0px;
    padding-top : 0;
    color : #8b1606;
    font-size: 40px;
    letter-spacing: 1.5px;
    
    font-family: 'Staatliches', cursive;
    cursor: default;

    
    -webkit-filter: drop-shadow(5px 5px 5px #eeeeee8e);
    filter: drop-shadow(5px 5px 5px #eeeeee8e);
}
.heading:hover{
    font-size: 44px;
    -webkit-animation-name: plussize;
            animation-name: plussize;
    -webkit-animation-duration : .5s;
            animation-duration : .5s;    
}

@-webkit-keyframes plussize{
    from{font-size: 40px;}
    to{font-size: 44px;}
}

@keyframes plussize{
    from{font-size: 40px;}
    to{font-size: 44px;}
}

.headinghrline{
    width : 200px;
    padding: 0;
    margin-left : auto;
    margin-right : auto;
    margin-top : -20px;
    margin-bottom : 40px;
    
    height: 2px;
    background-color:  #b1b1b1;
}

.heading:hover + .headinghrline{
    width : 230px;
    -webkit-animation-name: headingsize;
            animation-name: headingsize;
    -webkit-animation-duration : .5s;
            animation-duration : .5s;    
}

@-webkit-keyframes headingsize{
    from{width : 200px;}
    to{width : 230px;}
}

@keyframes headingsize{
    from{width : 200px;}
    to{width : 230px;}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}